.pay {
  flex-grow: 1;
  width: 100%;
  margin-top: 2rem;
  padding: 2rem 2rem;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: var(--serif);
  padding-top: var(--header-height);
  padding-bottom: calc(1rem + var(--footer-height));
}

.checkout__total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.25rem;
  font-family: var(--sans-serif);
  border-top: rgb(255, 255, 255, 0.5) 1px solid;
  padding-top: 0.25rem;
}